.section {

}

.container {

}

.grid {
  padding: $m-gutter;
  background: $c-grid;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  &__item {
    flex-grow: 1;
    width: calc(100% / 3 - 2rem);
    margin: 1rem;
  }
}

.contact-card {
  border-radius: 0.2rem;
  border: rgba(#3d3d3d,.55) 0.1rem solid;
  background: $c-white;
  padding: $m-gutter;

  &__name {
    display: flex;
    font-size: 12px;
  }

  &__lastname {
    margin: 0;
  }

  &__firstname {
    margin: 0;
  }
}

.delete {
  margin: -$m-gutter;
  width: calc(100% + 2rem);
  padding: 1rem;
  border: 0;
  background: $c-delete;
  color: $c-white;
  font-size: 15px;
}
