.section {

}

.container {

}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: $m-gutter;

  &__item {
    flex-grow: 1;
    width: calc(100% / 3 - 2rem);
    min-width: 10rem;
    margin: 1rem;
  }
}

.contact-card {
  padding: $m-gutter;
  border: rgba(#878787,.55) 0.1rem solid;
  border-radius: 0.2rem;
  background: $c-white;

  &__name {
    display: flex;
    font-size: 12px;
  }

  &__lastname {
    margin: 0;
  }

  &__firstname {
    margin: 0;
  }
}

.delete {
  display: block;
  margin: -1rem;
  margin-top: 1rem;
  width: calc(100% + 2rem);
  padding: 1rem;
  border: 0;
  background: $c-delete;
  color: $c-white;
  font-size: 15px;
}
